/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U  |  I  |  O  |  P  |  [ü |
// | CTR |  A  |  S  |  D  |  F  |  G  |               |  H  |  J  |  K  |  L  |  ;ö |  'ä |
// | SHT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M  |  ,  |  .  |  /  | SHT |
//                   | LOW | ALT | ENT |               | SPC | BSP | RSE |
                        bindings = <
   &kp TAB    &kp Q  &kp W  &kp E  &kp R    &kp T           &kp Y     &kp U    &kp I      &kp O    &kp P     &kp LBKT
   &kp LCTRL  &kp A  &kp S  &kp D  &kp F    &kp G           &kp H     &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
   &kp LSHFT  &kp Z  &kp X  &kp C  &kp V    &kp B           &kp N     &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                            &mo 1  &kp LALT &kp ENTER       &kp SPACE &kp BSPC &mo 2
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |     |     | HME | UP  | END | PGU |               |     |  7  |  8  |  9  |  &/ |  #* |
// |     |     | LFT | DWN | RGT | PGD |               |     |  4  |  5  |  6  |  !+ |  )= |
// |     |     |     |     |     |     |               |     |  1  |  2  |  3  |  /- |     |
//                   |     |     |     |               |     |     |  0  |
                        bindings = <
   &trans  &trans  &kp HOME  &kp UP     &kp END    &kp PG_UP       &trans  &kp N7  &kp N8  &kp N9  &kp AMPS  &kp HASH
   &trans  &trans  &kp LEFT  &kp DOWN   &kp RIGHT  &kp PG_DN       &trans  &kp N4  &kp N5  &kp N6  &kp EXCL  &kp RPAR
   &trans  &trans  &trans    &trans     &trans     &trans          &trans  &kp N1  &kp N2  &kp N3  &kp FSLH  &trans
                             &trans     &trans     &trans          &trans  &trans  &kp N0
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | ESC |  ¦  |  @  |  #  |  %  |  ^& |               |  -' |  *( |  () |     |  \  | DEL |
// |     |  _? |     |     |  `§ |     |               |  @" |  [  |  ]  |     |  +! |  \$ |
// |     |  <  |  >  |     |     |     |               |  =^ |  +  |  \{ |     |  ~  |     |
//                   |     |     |     |               |     |     |     |
                        bindings = <
   &trans  &kp RA(N1)  &kp RA(N2)  &kp RA(N3)  &kp PRCNT  &kp CARET        &kp MINUS  &kp STAR      &kp LPAR      &trans  &kp RA(Z)      &kp DEL
   &trans  &kp UNDER   &trans      &trans      &kp GRAVE  &trans           &kp AT     &kp RA(LBKT)  &kp RA(RBKT)  &trans  &kp RBRC       &kp BSLH
   &trans  &kp NON_US_BACKSLASH      &kp GT      &trans      &trans     &trans           &kp EQUAL  &kp RA(SQT)   &kp RA(BSLH)  &trans  &kp RA(EQUAL)  &trans
                      	           &trans      &trans     &trans           &trans     &trans        &trans
                        >;
                };
        };
};
